html {
  background: grey;
}
#chart {
 position: relative;
 text-align: right;
}
.project {
 height: 100vh;
 width: 100vw;
 align-items: center;
 justify-content: center;
}
#title {
 text-align: center;
}

#tooltip {
 align-items: center;
 justify-content: center;
 position: absolute;
 text-align: left;
 width: 225px;
 height: 100px;
 color: black;
 pointer-events: none;
}

@media only screen and (max-width: 1025px) {
 #chart {
   transform: scale(0.50) translateX(-30%);
 }
 #tooltip {
   transform: translateX(30%);
 }
}

@media only screen and (max-width: 500px) {
 #chart {
   transform: scale(0.30) translateX(-140%);
 }
 #tooltip {
   transform: translateX(140%);
 }
}